body{
    background: #f4f7fb;
    font-family: Arial;
}

.contenedor{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.box{
    background: white;
    padding: 40px;
    width: 350px;
    border-radius: 10px;
}

input, button{
    width: 100%;
    padding: 12px;
    margin-top: 15px;
}